# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
cairo=1.12.2=2
dateutil=2.1=py27_2
freetype=2.4.10=0
ipython=2.3.0=py27_0
libpng=1.5.13=1
matplotlib=1.4.0=np19py27_0
numpy=1.9.0=py27_0
openssl=1.0.1h=1
pixman=0.26.2=0
py2cairo=1.10.0=py27_1
pyparsing=2.0.1=py27_0
pyqt=4.10.4=py27_0
python=2.7.8=1
pytz=2014.7=py27_0
qt=4.8.5=0
readline=6.2=2
scipy=0.14.0=np19py27_0
sip=4.15.5=py27_0
six=1.8.0=py27_0
sqlite=3.8.4.1=0
system=5.8=1
tk=8.5.15=0
zlib=1.2.7=0
